@using Nihdi.DevoLearning.Presentation.Features.Persons.Overview.Models
@using Nihdi.DevoLearning.Presentation.Resources.Features.Persons
@using Nihdi.DevoLearning.Presentation.Shared

@attribute [Route(Routing.Persons.Overview)]

<PageIntro>
    <TitleTemplate>
        <div class="d-flex align-items-center gap-2">
            <MudText Class="m-0" Typo="Typo.h1" Color="Color.Primary">@PersonsResource.PersonOverview_Title</MudText>
        </div>
        <div class="btn-group">
            <MudButton Variant="Variant.Filled" OnClick="NavigateToForm">@PersonsResource.PersonOverview_CreatePerson</MudButton>
        </div>
    </TitleTemplate>
    <ChildContent>
        <MudGrid>
            <MudItem xs="12" xl="8">
                <MudText>@PersonsResource.PersonOverview_Description</MudText>
            </MudItem>
        </MudGrid>

        @if (ViewModel.Query == null || ViewModel.PaginatedResult == null)
        {
            // Nothing to show
        }
        else
        {
            <MudDataGrid T="PersonOverviewModel"
                         SortMode="SortMode.None"
                         ServerData="ServerReload"
                         RowClick="NavigateToDetails"
                         Hover>
                <Columns>
                    <PropertyColumn Property="x => x.LastName" Title="@PersonsResource.Name">
                        <CellTemplate>
                            @($"{context.Item.LastName} {context.Item.FirstName}")
                        </CellTemplate>
                    </PropertyColumn>
                    <PropertyColumn Property="x => x.BirthDate" Title="@PersonsResource.BirthDate">
                        <CellTemplate>
                            @context.Item.BirthDate.ToShortDisplayFormat()
                        </CellTemplate>
                    </PropertyColumn>
                    <PropertyColumn Property="x => x.Email" Title="@PersonsResource.Email" />
                </Columns>
                <PagerContent>
                    <MudDataGridPager />
                </PagerContent>
            </MudDataGrid>
        }
    </ChildContent>
</PageIntro>